
body {

    background-image: url('image/signup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

a{

    color: #ffffff;
    
}


.form-control{
    border-radius: 40px!important;
}
